.git
.github
.vscode
dist
node_modules
.dockerignore
.editorconfig
.env*
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
LICENSE
README.md
docker-compose.yml

.idea
*.swp
*.swo
*.log
.DS_Store
Thumbs.db
